
<div class="col-md-4">

<div ><h2><p class="text-primary">Записаться</p></h2></div>
<div><p class="text-info">На этой странице вы можете записаться в Barber Shop</p></div>

<%if @name && @name.length > 0 && @phone && @phone.length > 0 then %>
			          <div class="alert alert-info"><p class="text-left"><%=@name%>, Вы записаны на <%=@day%> в <%=@hours%> часов, к парикмахеру <%=@barber%></p></div>
			      <% end %>

<form action="/visit" method="POST"  role="form" >
<div class="form-group">
    <label>Имя</label>
    <input type="text" name='name' class="form-control"  placeholder="Jane Doe" value="<%=@name%>" >
  </div>
  <div class="form-group">
    <label>Телефон</label>
    <input type="text" name='phone' class="form-control"  placeholder="079 515151" value="<%=@phone%>"
  </div>

  <div class="form-grup">
		  <label for="barbername">Выберите парикмахера</label>
		  <select class="form-control" id="barbername" name="barber" >
		  <option <%= @barber == 'Александра' ? 'selected' : '' %>>Александра</option>
		  <option <%= @barber == 'Лариса' ? 'selected' : '' %>>Лариса</option>
		  <option <%= @barber == 'Евгения' ? 'selected' : '' %>>Евгения</option>
		  </select>
</div>	
<p></p>
<div class="row">
  <div class="col-xs-7">
      <label for="dayform">Выбрать день</label>
      <select class="form-control" id="dayform" name="day">
      <option <%= @day == 'Понедельник' ? 'selected' : '' %>>Понедельник</option>
      <option <%= @day == 'Вторник' ? 'selected' : '' %>>Вторник</option>
      <option <%= @day == 'Среда' ? 'selected' : '' %>>Среда</option>
      <option <%= @day == 'Четверг' ? 'selected' : '' %>>Четверг</option>
      <option <%= @day == 'Пятница' ? 'selected' : '' %>>Пятница</option>
      <option <%= @day == 'Суббота' ? 'selected' : '' %>>Суббота</option>
      </select>
  </div>
  
  <div class="col-xs-5">
  		<label for="hoursform">Время</label>
        <select class="form-control" id="hoursform" name="hours">
        <option <%= @hours == '9:00' ? 'selected' : '' %>>9:00</option>
        <option <%= @hours == '10:00' ? 'selected' : '' %>>10:00</option>
        <option <%= @hours == '11:00' ? 'selected' : '' %>>11:00</option>
        <option <%= @hours == '12:00' ? 'selected' : '' %>>12:00</option>
        <option <%= @hours == '13:00' ? 'selected' : '' %>>13:00</option>
        <option <%= @hours == '14:00' ? 'selected' : '' %>>14:00</option>
        <option <%= @hours == '15:00' ? 'selected' : '' %>>15:00</option>
        <option <%= @hours == '16:00' ? 'selected' : '' %>>16:00</option>
        <option <%= @hours == '17:00' ? 'selected' : '' %>>17:00</option>
        <option <%= @hours == '18:00' ? 'selected' : '' %>>18:00</option>
        </select>
        
  </div>
</div>

  <p></p>
 <div class="form-group"> 
  <label>Выберите цвет</label>
  <select id="color" name='col'>
  <option value="#7bd148">Green</option>
  <option value="#5484ed">Bold blue</option>
  <option value="#a4bdfc">Blue</option>
  <option value="#46d6db">Turquoise</option>
  <option value="#7ae7bf">Light green</option>
  <option value="#51b749">Bold green</option>
  <option value="#fbd75b">Yellow</option>
  <option value="#ffb878">Orange</option>
  <option value="#ff887c">Red</option>
  <option value="#dc2127">Bold red</option>
  <option value="#dbadff">Purple</option>
  <option value="#e1e1e1">Gray</option>
</select>
</div>

  <p></p>
<div class="form-group">
	<button type="submit" class="btn btn-primary btn-lg btn-block" >Отправить</button>
</div>

  

</form>

</div>


<script type="text/javascript">

$(function() {
  $('#color').simplecolorpicker();
});
</script>


